// Mobile-first breakpoints
$mobile-breakpoint: 576px; // small phones
$mobile-large-breakpoint: 768px; // large phones / small tablets
$tablet-portrait-breakpoint: 992px; // tablets portrait
$tablet-landscape-breakpoint: 1200px; // tablets landscape / small laptops
$desktop-breakpoint: 1400px; // desktop
$desktop-large-breakpoint: 1600px; // large desktop / widescreen
