:root {
  --primary-color-900: #0f3375;
  --primary-color-800: #13459c;
  --primary-color-700: #1557c0;
  --primary-color-600: #196bde;
  --primary-color-500: #3a7dfb;
  --primary-color-400: #4b9cf9;
  --primary-color-300: #77b6fb;
  --primary-color-200: #a4cefc;
  --primary-color-100: #cce4fd;
  --primary-color-50: #e8f3fe;

  --neutral-color-0: #ffffff;
  --neutral-color-1: #f8f8f8;
  --neutral-color-2: #f2f2f2;
  --neutral-color-3: #e4e4e4;
  --neutral-color-4: #cecece;
  --neutral-color-5: #adadad;
  --neutral-color-6: #808080;
  --neutral-color-7: #646464;
  --neutral-color-8: #484848;
  --neutral-color-9: #333333;

  --warning-color-0: #fff8e1;
  --warning-color-1: #ffe082;
  --warning-color-2: #ffd54f;
  --warning-color-3: #ffca28;
  --warning-color-4: #ffb300;
  --warning-color-5: #ffa000;
  --warning-color-6: #ff8f00;
  --warning-color-7: #ff6f00;
  --warning-color-8: #e86722;
  --warning-color-9: #e0562c;

  --success-color-0: #e8f5e9;
  --success-color-1: #c8e6c9;
  --success-color-2: #a5d6a7;
  --success-color-3: #81c784;
  --success-color-4: #66bb6a;
  --success-color-5: #4caf50;
  --success-color-6: #43a047;
  --success-color-7: #388e3c;
  --success-color-8: #2e7d32;
  --success-color-9: #1b5e20;

  --error-color-0: #ffebee;
  --error-color-1: #ffcdd2;
  --error-color-2: #ef9a9a;
  --error-color-3: #e57373;
  --error-color-4: #ef5350;
  --error-color-5: #f44336;
  --error-color-6: #e53935;
  --error-color-7: #d32f2f;
  --error-color-8: #c62828;
  --error-color-9: #b71c1c;
}
